# Database Configuration
MONGO_URI=mongodb+srv://malik:malik@malik.ydbucaz.mongodb.net/malik?appName=malik
# Server Configuration
PORT=4000
BASE_URL=/api/v1
NODE_ENV=development
RESET_TOKEN_SECRET=your-reset-token-secret-here-min-32-characters
ACCESS_TOKEN_SECRET=your-access-token-secret-here-min-32-characters
# Email Configuration for OTP
# For Gmail: Use App Password (not regular password)
# Enable 2FA on Gmail, then generate App Password at: https://myaccount.google.com/apppasswords
EMAIL_SERVICE=gmail
EMAIL_FROM=ahteshamulhasan2@gmail.com
 

# Admin Configuration
ADMIN_EMAIL=ahteshamulhasan2@gmail.com
# Image and Client URLs
IMAGE_URL=http://localhost:3000/
CLIENT_URL=http://localhost:5173
# OTP Service Secret
OTP_SECRET=your-otp-secret-key-here
PRV_TOKEN = shhhhh
OTP_EMAIL=ahteshamulhasan2@gmail.com
OTP_PASSWORD=vxnzcisgxjobfnlu

 
MAP_KEY=AIzaSyBuSZJklSc1j0D4kqhkJcmyArcZbWujbXQ
STRIPE_WEBHOOK_KEY = whsec_lgENBp5IhVbIyZUQblg6v4d4CCYnpCd5
STRIPE_SECRET_KEY = sk_test_51SmHWBKEbP5ikG0rVNofIHBMd7Kt6EoTg43OVPWLZoCLJ1pNL9b0Qm1DKV4RYZnMXoM92c8JiVCAkEvQjj8MBowd00xG35IG9m